body{
    background-color: black;
  }

  div{
    width:100%;
    margin-left:50%;
    margin-top:100px;
  }

  h1{
    color: white;
    font-family: 'Libre Baskerville', cursive;
    text-align: center;
    text-transform: uppercase;
  }

  .motivation-img{
    border: 5px solid white;
    width:100%;
  }

  p{
    color:white;
    text-align: center;
  }